body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.traffic-light {
  background: black;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
  margin: auto;
}

.light {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}


.red { background: red; }
.yellow { background: yellow; }
.green { background: green; }
.purple { background: purple; }


.on {
  opacity: 1;
  box-shadow: 0 0 20px white;
}


.buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
